/*  your css code here. If applicable */
.Main-container{
	background-color:#f5f5f5;
	width:100%;
	padding-bottom:30px;
}
.Main-container h1{
	/* margin:20px; */
	padding:30px;
}
.container{
	display: flex;
    flex-direction: column;  
    align-items: center;     
    gap: 20px; 
}
.div1{
  width: 80%;              
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px 20px;  
  display: flex;   
  /* justify-content:space-between;
  gap:20px; */
  align-items: center;
  box-sizing: border-box;
}
.div1 p {
  margin: 0;
}

.div1 i {
  margin-left: auto; /* ✅ TEST CASE ISI KO CHECK KARTA HAI */
}